@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html,
div {
    font-family: 'comfortaa', 'cursive';
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container>div {
    background-color: #e0dcdc;
    width: auto;
    margin: 10px;
    text-align: center;
    padding: 40px;
    line-height: auto;
    font-size: 30px;
    transition: 1s;
    border-radius: 10px;
}

.flex-container>div:hover {
    background-color: white;
}

#heading_main {
    text-align: center;
    font-size: 50px;
    font-family: 'comfortaa', 'cursive';
    transition: 2s;
}

#heading_main:hover {
    color: brown;
}

#nav {
    display: flex;
    border-bottom: 2px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

#nav_btn {
    margin-left: 20px;
    width: 80px;
    height: 40px;
    background-color: #e0dcdc;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    transition: 1s;
}

#nav_btn:hover {
    background-color: white;
}