<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SchoolBase</title>
        <link rel="stylesheet" href="../static/style/main.css">
        <script src="../static/script/main.js"></script>
    </head>
    <body>
        <div id="nav">
            <a href="/login"><button id="nav_btn">login</button></a><a href="/register"><button id="nav_btn">register</button></a><a href="/about"><button id="nav_btn">about</button></a><a href="/profile"><button id="nav_btn">Profile</button></a>
            <form action=""></form>
            <br>
        </div>
        <h1 id="heading_main">SchoolBase</h1><br>
        <div class="flex-container">
            <div>Achievements</div>
            <div>Acedemics</div>
            <div>Attendance</div>
            <div>Co-Curricullar</div>
            <div>Exams</div>
            <div>Homework</div>
            <div>Assignments</div>
            <div>Classwork</div>
        </div>
    </body>
</html>