<html>
    <head>
        <title>Register</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="../static/style/main.css">
        <script src="../static/script/main.js"></script>
    </head>
    <body>
        <div id="nav">
            <a href="/login"><button id="nav_btn">login</button></a><a href="/"><button id="nav_btn">Home</button></a><a href="/about"><button id="nav_btn">about</button></a><a href="/profile"><button id="nav_btn">Profile</button></a>
            <form action=""></form>
            <br>
        </div>        
        <h1 id="heading_main">Register</h1>
    </body>
</html>